@using DesignAndBuilding.Web.ViewModels.Assignment 
@model AssignmentViewModel

<div class="container">
    <div class="row">
        <div class="col-3 border">
            <br />
            <p><b>Име на обекта: </b>@Model.Building.Name</p>
            <p><b>РЗП:</b> @Model.Building.TotalBuildUpArea</p>
            @switch (@Model.Building.BuildingType)
            {
                case DesignAndBuilding.Data.Models.BuildingType.Other:
                    <p><b>Тип на обекта: </b>Друг</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.Hotel:
                    <p><b>Тип на обекта: </b>Хотел</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.Kindergarten:
                    <p><b>Тип на обекта: </b>Детска градина</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.SingleFamilyHouse:
                    <p><b>Тип на обекта: </b>Еднофамилна къща</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.MultiFamiyHouse:
                    <p><b>Тип на обекта: </b>Многофамилна къща</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.Hospital:
                    <p><b>Тип на обекта: </b>Болница</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.Factory:
                    <p><b>Тип на обекта: </b>Производствено предприятие</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.AdministrationBuilding:
                    <p><b>Тип на обекта: </b>Административна сграда</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.School:
                    <p><b>Тип на обекта: </b>Училище</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.University:
                    <p><b>Тип на обекта: </b>Университет</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.ComercialBuilding:
                    <p><b>Тип на обекта: </b>Търговска сграда</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.SportBuilding:
                    <p><b>Тип на обекта: </b>Спортна сграда</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.ArtAndCultureBuilding:
                    <p><b>Тип на обекта: </b>Сграда за изкуство и култура</p>
                    break;
                default:
                    <p><b>Тип на обекта: </b>Неизвестен</p>
                    break;
            }
            <br />
            <br />
        </div>
        <div class="col-7">
            <p>@Model.Description</p>
            <p>@Model.DesignerType</p>
            <p>@Model.EndDate</p>
            <p>@Model.BasePricePerSquareMeter</p>
        </div>
        <div class="col-1">
            <h3 class="text-center">Задания</h3>
            <table class="table table-hover">
                @foreach (var bid in Model.Bids)
                {
                    <tr>
                        <td>@bid.Price лв.</td>
                        <td>@bid.TimePlaced</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
