@using DesignAndBuilding.Web.ViewModels.Assignment 
@model AssignmentViewModel
@{ 
    int i = 0;
    this.ViewData["Title"] = "Детайли на заданието";
}
<div id="alert"></div>
<h3 class="text-center">@this.ViewData["Title"]</h3>
<div class="container align-center">
    <div class="row h-100 d-flex justify-content-around">
        <div class="col-3 border table-info">
            <h4>Обект</h4>
            <p><b>Име: </b>@Model.Building.Name</p>
            <p><b>РЗП:</b> @Model.Building.TotalBuildUpArea</p>
            @switch (@Model.Building.BuildingType)
            {
                case DesignAndBuilding.Data.Models.BuildingType.Other:
                    <p><b>Тип: </b>Друг</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.Hotel:
                    <p><b>Тип: </b>Хотел</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.Kindergarten:
                    <p><b>Тип: </b>Детска градина</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.SingleFamilyHouse:
                    <p><b>Тип: </b>Еднофамилна къща</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.MultiFamiyHouse:
                    <p><b>Тип: </b>Многофамилна къща</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.Hospital:
                    <p><b>Тип: </b>Болница</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.Factory:
                    <p><b>Тип: </b>Производствено предприятие</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.AdministrationBuilding:
                    <p><b>Тип: </b>Административна сграда</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.School:
                    <p><b>Тип: </b>Училище</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.University:
                    <p><b>Тип: </b>Университет</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.ComercialBuilding:
                    <p><b>Тип: </b>Търговска сграда</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.SportBuilding:
                    <p><b>Тип: </b>Спортна сграда</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.ArtAndCultureBuilding:
                    <p><b>Тип: </b>Сграда за изкуство и култура</p>
                    break;
                default:
                    <p><b>Тип: </b>Неизвестен</p>
                    break;
            }
            <h4>Задание</h4>
            <p><b>Описание: </b><a href="/assignments/download/@Model.AssignmentId">Изтегли</a></p>
            @switch (Model.DesignerType)
            {
                case DesignAndBuilding.Data.Models.DesignerType.Architect:
                    <p><b>Специалност: </b>Архитектура</p>
                    break;
                case DesignAndBuilding.Data.Models.DesignerType.ElectroEngineer:
                    <p><b>Специалност: </b>Електро</p>
                    break;
                case DesignAndBuilding.Data.Models.DesignerType.BuildingConstructionEngineer:
                    <p><b>Специалност: </b>Строителни конструкции</p>
                    break;
                case DesignAndBuilding.Data.Models.DesignerType.PlumbingEngineer:
                    <p><b>Специалност: </b>ВиК</p>
                    break;
                case DesignAndBuilding.Data.Models.DesignerType.HVACEngineer:
                    <p><b>Специалност: </b>ОВК</p>
                    break;
                default:
                    <p><b>Специалност: </b>Друга</p>
                    break;
            }
            <p><b>Краен срок: </b>@Model.EndDate</p>
            <p><b>Дата на създаване: </b>@Model.CreatedOn</p>
        </div>
        <div class="col-8">
            <h4 class="text-center">Оферти</h4>
            <table class="table table-hover text-center">
                @foreach (var bid in Model.Bids)
                {
                    i++;
                <tr>
                    <td>@i</td>
                    @if (Model.IsFinished && Model.HasUserCreatedAssignment)
                    {
                        <td>@bid.UserFullName</td>
                        <td>@bid.PhoneNumber</td>
                        <td>@bid.Email</td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                        <td></td>
                    }
                    <td>@bid.Price лв.</td>
                    @if (Model.IsFinished && Model.HasUserCreatedAssignment)
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>@bid.TimePlaced</td>
                    }
                </tr>
                }
            </table>
            @if (!Model.IsFinished && !Model.HasUserCreatedAssignment)
            {
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="@Model.BidPrice"></label>
                        <input asp-for="@Model.BidPrice" class="form-control" />
                        <span asp-validation-for="@Model.BidPrice" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Предложи цена</button>
                </form>
            }
        </div>
    </div>
</div>
<hr />
<div id="disqus_thread"></div>

<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = document.createElement('script');
        s.src = 'https://designandbuilding.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (document.head || document.body).appendChild(s);
    })();
</script>
