@using DesignAndBuilding.Web.ViewModels.Assignment;
@using DesignAndBuilding.Data.Models;
@model AssignmentInputModel
@{
    this.ViewData["Title"] = "Редактирай задание";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.DesignerType"></label>
                <select asp-for="@Model.DesignerType" class="form-control" asp-items="@Html.GetEnumSelectList<DesignerType>()"></select>
                <span asp-validation-for="@Model.DesignerType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Description"></label>
                <textarea asp-for="@Model.Description" class="form-control"></textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.EndDate"></label>
                <input asp-for="@Model.EndDate" class="form-control" />
                <span asp-validation-for="@Model.EndDate" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Редактирай</button>
        </form>
    </div>
</div>