@using DesignAndBuilding.Web.ViewModels.Assignment;
@using DesignAndBuilding.Data.Models;
@model AssignmentInputModel
@{
    this.ViewData["Title"] = "Редактирай задание";
}
<div id="alert"></div>
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.UserType"></label>
                <select asp-for="@Model.UserType" class="form-control" asp-items="@Html.GetEnumSelectList<UserType>()"></select>
                <span asp-validation-for="@Model.UserType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input type="file" id="files" class="file" multiple />
                <input asp-for="Description" type="file" id="files-hidden" class="file" multiple hidden />
                <span asp-validation-for="Description" class="text-danger"></span>
                <p id="upload-warning" class="text-danger">Отново прикачете всички файлове преди да запазите промените</p>
            </div>
            <div id="visualise-upload-files">
            </div>
            <div class="form-group">
                <label asp-for="@Model.EndDate"></label>
                <input asp-for="@Model.EndDate" class="form-control" />
                <span asp-validation-for="@Model.EndDate" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Запазване на промените</button>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        let files = document.querySelectorAll('input')[1];
        let pEl = document.getElementById('upload-warning');
        files.addEventListener('change', () => {
            console.log(files.files.length);
            if (files.files.length > 0) {
                pEl.hidden = true;
            } else {
                pEl.hidden = false;
            }
        })
    </script>
}

<script src="~/js/upload-files.js" asp-append-version="true"></script>