@using DesignAndBuilding.Common
@using DesignAndBuilding.Data.Models;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> userManager;
@{
    ApplicationUser user = await userManager.GetUserAsync(this.User);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title class="font-weight-bold h1">@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link href="~/sbadmin2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/sbadmin2/css/sb-admin-2.min.css" rel="stylesheet" />
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" /> *@
    @* <link href="https://cdn.datatables.net/2.3.5/css/dataTables.bootstrap5.css" rel="stylesheet" /> *@
    <link href="~/sbadmin2/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>
</head>
<body id="page-top" class="d-flex flex-column min-vh-100 m-0">
    <div id="wrapper" class="flex-grow-1">
        <div id="content-wrapper" class="d-flex flex-column min-vh-100">
            <!-- Main Content -->
            <div id="content" class="flex-grow-1">
                <nav class="navbar navbar-expand-lg navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Brand -->
                    <a class="navbar-brand d-flex align-items-center justify-content-center" href="/">
                        <div class="sidebar-brand-icon">
                            <i class="fas fa-building"></i>
                        </div>
                        <div class="sidebar-brand-text mx-3">BuildNet</div>
                    </a>

                    <!-- Burger button for collapsing topbar menu -->
                    <button class="navbar-toggler" type="button"
                            data-toggle="collapse" data-target="#topbarNavbar"
                            aria-controls="topbarNavbar" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Collapsible content -->
                    <div class="collapse navbar-collapse bg-white" id="topbarNavbar">
                        <!-- Left side -->
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                    <i class="fas fa-fw fa-home"></i>
                                    <span>Начало</span>
                                </a>
                            </li>

                            @* Architect *@
                            @if (user != null && (user.UserType == UserType.Architect))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="buildings" asp-action="create">
                                        <i class="fas fa-fw fa-chart-area"></i>
                                        <span>Създай обект</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="buildings" asp-action="mybuildings">
                                        <i class="fas fa-fw fa-chart-area"></i>
                                        <span>Моите обекти</span>
                                    </a>
                                </li>
                            }

                            @* Non-architect, non-admin *@
                            @if (user != null && user.UserType != UserType.Architect && !this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="home" asp-action="mybids">
                                        <i class="fas fa-fw fa-briefcase"></i>
                                        <span>Моите оферти</span>
                                    </a>
                                </li>
                            }

                            @* Admin *@
                            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="administration" asp-controller="dashboard" asp-action="allbuildings">
                                        <i class="fas fa-fw fa-chart-area"></i>
                                        <span>Всички обекти</span>
                                    </a>
                                </li>
                            }

                            @* Notifications *@
                            @if (user != null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="home" asp-action="notifications">
                                        <i class="fas fa-fw fa-bell "></i>
                                        <span>Известия</span>
                                    </a>
                                </li>
                            }
                        </ul>

                        <!-- Right side (login / user menu) -->
                        <ul class="navbar-nav ml-auto">
                            <partial name="_LoginPartial" />
                        </ul>
                    </div>
                </nav>

                <div class="container-fluid">
                    <partial name="_CookieConsentPartial" />
                    <main role="main" class="pb-3">
                        @this.RenderBody()
                    </main>
                </div>
            </div>

            @* <footer class="bg-white py-2 border-top sticky-footer">
                <div class="container text-center small">
                    &copy; @DateTime.Now.Year - @GlobalConstants.SystemName -
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer> *@

        </div>
    </div>

    <footer class="bg-white py-2 border-top mt-auto">
        <div class="container text-center small">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName -
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Политика за поверителност</a> |
            <a asp-area="" asp-controller="Home" asp-action="Cookies">Политика за бисквитките</a>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="~/sbadmin2/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/sbadmin2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- jQuery Easing -->
    <script src="~/sbadmin2/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- SB Admin 2 JS -->
    <script src="~/sbadmin2/js/sb-admin-2.min.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/checkboxes.js" asp-append-version="true"></script>

    @* <script src="https://cdn.datatables.net/2.3.5/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.5/js/dataTables.bootstrap5.js"></script> *@

    <!-- Page level plugins -->
    <script src="~/sbadmin2/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/sbadmin2/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>

