@using DesignAndBuilding.Common
@using DesignAndBuilding.Data.Models;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> userManager;
@{
    ApplicationUser user = await userManager.GetUserAsync(this.User);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title class="font-weight-bold h1">@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link href="~/sbadmin2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/sbadmin2/css/sb-admin-2.min.css" rel="stylesheet" />
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" /> *@
    @* <link href="https://cdn.datatables.net/2.3.5/css/dataTables.bootstrap5.css" rel="stylesheet" /> *@
    <link href="~/sbadmin2/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="~/lib/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>
</head>
<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">BuildNet</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Начало</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            @if (user != null && (user.UserType == UserType.Architect))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="buildings" asp-action="create">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Създай обект</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="buildings" asp-action="mybuildings">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Моите обекти</span>
                    </a>
                </li>
            }
            @if (user != null && user.UserType != UserType.Architect &&  !this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="home" asp-action="mybids">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Моите оферти</span>
                    </a>
                </li>
            }
            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-area="administration" asp-controller="dashboard" asp-action="allbuildings">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Всички обекти</span>
                    </a>
                </li>
            }
            @if (user != null)
            {
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="home" asp-action="notifications">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Известия</span>
                    </a>
                </li>
            }

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>

        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <partial name="_LoginPartial" />
                    </ul>
                </nav>
                

                <div class="container-fluid">
                    <partial name="_CookieConsentPartial" />
                    <main role="main" class="pb-3">
                        @this.RenderBody()
                    </main>
                </div>
            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/sbadmin2/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/sbadmin2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- jQuery Easing -->
    <script src="~/sbadmin2/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- SB Admin 2 JS -->
    <script src="~/sbadmin2/js/sb-admin-2.min.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/checkboxes.js" asp-append-version="true"></script>

    @* <script src="https://cdn.datatables.net/2.3.5/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.5/js/dataTables.bootstrap5.js"></script> *@

    <!-- Page level plugins -->
    <script src="~/sbadmin2/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/sbadmin2/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>

