@using DesignAndBuilding.Web.ViewModels.Assignment
@using System.Globalization;
@model EngineerAssignmentsViewModel
@{ 
    int i = 0;
}
<div>
    @switch (Model.DesignerType)
    {
        case DesignAndBuilding.Data.Models.DesignerType.Architect:
            <h3 class="text-center">Задания по част архитектура</h3>
            break;
        case DesignAndBuilding.Data.Models.DesignerType.ElectroEngineer:
            <h3 class="text-center">Задания по част Електро</h3>
            break;
        case DesignAndBuilding.Data.Models.DesignerType.BuildingConstructionEngineer:
            <h3 class="text-center">Задания по част Строителни конструкции</h3>
            break;
        case DesignAndBuilding.Data.Models.DesignerType.PlumbingEngineer:
            <h3 class="text-center">Задания по част ВиК</h3>
            break;
        case DesignAndBuilding.Data.Models.DesignerType.HVACEngineer:
            <h3 class="text-center">Задания по част ОВК</h3>
            break;
        default:
            break;
    }
    <table class="table table-hover text-center">
        <tr class="table-info">
            <th>№</th>
            <th>Дата</th>
            <th>Описание</th>
            <th>Специалност</th>
            <th>Оставащо време</th>
        </tr>
        @foreach (var assignment in Model.Assignments)
        {
            i++;
            <tr onclick="window.location.href='@Url.Action("details", "assignments", new { id = assignment.Id})'" role="button">
                <td>@i</td>
                <td>@assignment.CreatedOn.ToString(@"dd.MM.yyyy")г.</td>
                @if (assignment.Description.Length > 10)
                {
                    <td>@assignment.Description.Substring(0, 10)...</td>
                }
                else
                {
                    <td>@assignment.Description</td>
                }
                @switch (assignment.DesignerType)
                {
                    case DesignAndBuilding.Data.Models.DesignerType.Other:
                        <td>Друг</td>
                        break;
                    case DesignAndBuilding.Data.Models.DesignerType.Architect:
                        <td>Архитект</td>
                        break;
                    case DesignAndBuilding.Data.Models.DesignerType.ElectroEngineer:
                        <td>Електро</td>
                        break;
                    case DesignAndBuilding.Data.Models.DesignerType.BuildingConstructionEngineer:
                        <td>Строителни Конструкции</td>
                        break;
                    case DesignAndBuilding.Data.Models.DesignerType.PlumbingEngineer:
                        <td>ВиК</td>
                        break;
                    case DesignAndBuilding.Data.Models.DesignerType.HVACEngineer:
                        <td>ОВК</td>
                        break;
                    default:
                        break;
                }
                <td>@((assignment.EndDate - DateTime.Now).ToString(@"dd\:hh\:mm\:ss"))</td>
            </tr>
        }
    </table>
</div>