@using DesignAndBuilding.Web.ViewModels.Assignment
@using System.Globalization;
@model EngineerAssignmentsViewModel
@{ 
    int i = 0;
}
<div>
    @switch (Model.DesignerType)
    {
        case DesignAndBuilding.Data.Models.DesignerType.Architect:
            <h3 class="text-center">Задания по част архитектура</h3>
            break;
        case DesignAndBuilding.Data.Models.DesignerType.ElectroEngineer:
            <h3 class="text-center">Задания по част Електро</h3>
            break;
        case DesignAndBuilding.Data.Models.DesignerType.BuildingConstructionEngineer:
            <h3 class="text-center">Задания по част Строителни конструкции</h3>
            break;
        case DesignAndBuilding.Data.Models.DesignerType.PlumbingEngineer:
            <h3 class="text-center">Задания по част ВиК</h3>
            break;
        case DesignAndBuilding.Data.Models.DesignerType.HVACEngineer:
            <h3 class="text-center">Задания по част ОВК</h3>
            break;
        default:
            break;
    }
<table class="table table-hover text-center">
    <tr class="table-info">
        <th>№</th>
        <th>Име</th>
        <th>Архитект</th>
        <th>Дата</th>
        <th>Оставащо време</th>
    </tr>
    @foreach (var assignment in Model.Assignments)
    {
        i++;
        @if (assignment.UserPlacedBid)
        {
            <tr onclick="window.location.href='@Url.Action("details", "assignments", new { id = assignment.Id})'" role="button" class="font-weight-bold">
                <td>@i</td>
                <td>@assignment.BuildingName</td>
                <td>арх. @assignment.ArchitectName</td>
                <td>@assignment.CreatedOn.ToString(@"dd.MM.yyyy")г.</td>
                <td>@((assignment.EndDate - DateTime.Now).ToString(@"dd\:hh\:mm\:ss"))</td>
            </tr>
        }
        else
        {
            <tr onclick="window.location.href='@Url.Action("details", "assignments", new { id = assignment.Id})'" role="button">
                <td>@i</td>
                <td>@assignment.BuildingName</td>
                <td>арх. @assignment.ArchitectName</td>
                <td>@assignment.CreatedOn.ToString(@"dd.MM.yyyy")г.</td>
                <td>@((assignment.EndDate - DateTime.Now).ToString(@"dd\:hh\:mm\:ss"))</td>
            </tr>
        }
    }
</table>
</div>