@using DesignAndBuilding.Common
@using DesignAndBuilding.Web.ViewModels.Building;
@using DesignAndBuilding.Data.Models;
@model BuildingInputModel
@{
    this.ViewData["Title"] = "Създай обект";
}
<div id="alert"></div>

<div class="row justify-content-center align-items-center">
    <div class="col-md-6 p-4 border rounded bg-light shadow">
        <h3 class="text-center">@ViewData["Title"]</h3>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Name"></label>
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.TotalBuildUpArea"></label>
                <input asp-for="@Model.TotalBuildUpArea" class="form-control" />
                <span asp-validation-for="@Model.TotalBuildUpArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Town"></label>
                <input asp-for="@Model.Town" class="form-control" />
                <span asp-validation-for="@Model.Town" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.BuildingType"></label>
                <select asp-for="@Model.BuildingType" class="form-control" asp-items="@Html.GetEnumSelectList<BuildingType>()"></select>
                <span asp-validation-for="@Model.BuildingType" class="text-danger"></span>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary text-center">Създай</button>
            </div>
        </form>
    </div>
</div>