@using DesignAndBuilding.Web.ViewModels.Building
@using System.Globalization;
@model BuildingDetailsViewModel
@{
    this.ViewData["Title"] = "Building Details";
}
<div class="container">
    <div class="row">
        <div class="col-3 border">
            <br />
            <p><b>Име на обекта: </b>@Model.Name</p>
            <p><b>РЗП:</b> @Model.TotalBuildUpArea</p>
            @switch (@Model.BuildingType)
            {
                case DesignAndBuilding.Data.Models.BuildingType.Other:
                    <p><b>Тип на обекта: </b>Друг</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.Hotel:
                    <p><b>Тип на обекта: </b>Хотел</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.Kindergarten:
                    <p><b>Тип на обекта: </b>Детска градина</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.SingleFamilyHouse:
                    <p><b>Тип на обекта: </b>Еднофамилна къща</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.MultiFamiyHouse:
                    <p><b>Тип на обекта: </b>Многофамилна къща</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.Hospital:
                    <p><b>Тип на обекта: </b>Болница</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.Factory:
                    <p><b>Тип на обекта: </b>Производствено предприятие</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.AdministrationBuilding:
                    <p><b>Тип на обекта: </b>Административна сграда</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.School:
                    <p><b>Тип на обекта: </b>Училище</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.University:
                    <p><b>Тип на обекта: </b>Университет</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.ComercialBuilding:
                    <p><b>Тип на обекта: </b>Търговска сграда</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.SportBuilding:
                    <p><b>Тип на обекта: </b>Спортна сграда</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.ArtAndCultureBuilding:
                    <p><b>Тип на обекта: </b>Сграда за изкуство и култура</p>
                    break;
                default:
                    <p><b>Тип на обекта: </b>Неизвестен</p>
                    break;
            }
            <div class="btn btn-primary" onclick="window.location.href='@Url.Action("create", "assignments", new { buildingId = Model.Id})'" role="button">Добави задание</div>
            <br />
            <br />
        </div>
        <div class="col-8">
            <h3 class="text-center">Задания</h3>
            <table class="table table-hover">
                <tr class="table-info">
                    <th>Специалност</th>
                    <th>Начална цена/кв.м.</th>
                    <th>Оставащо време</th>
                </tr>
                @foreach (var assignment in Model.Assignments)
                {
            <tr onclick="window.location.href='@Url.Action("details", "assignments", new { id = assignment.Id})'" role="button">
                @switch (assignment.DesignerType)
                {
                    case DesignAndBuilding.Data.Models.DesignerType.Other:
                        <td>Друг</td>
                        break;
                    case DesignAndBuilding.Data.Models.DesignerType.Architect:
                        <td>Архитект</td>
                        break;
                    case DesignAndBuilding.Data.Models.DesignerType.ElectroEngineer:
                        <td>Електро</td>
                        break;
                    case DesignAndBuilding.Data.Models.DesignerType.BuildingConstructionEngineer:
                        <td>Строителни Конструкции</td>
                        break;
                    case DesignAndBuilding.Data.Models.DesignerType.PlumbingEngineer:
                        <td>Строителни Конструкции</td>
                        break;
                    case DesignAndBuilding.Data.Models.DesignerType.HVACEngineer:
                        <td>Строителни Конструкции</td>
                        break;
                    default:
                        break;
                }

                <td>@assignment.BasePricePerSquareMeter лв.</td>

                <td>@((assignment.EndDate - DateTime.Now).ToString("g", new CultureInfo("en-US")))</td>
            </tr>
                }
            </table>
        </div>
    </div>
</div>