@using DesignAndBuilding.Web.ViewModels.Building
@using System.Globalization;
@model BuildingDetailsViewModel
@{
    this.ViewData["Title"] = "Детайли на проекта";
}
<div id="alert"></div>
<div class="">
    <div class="row">
        <div class="col-3">
            <h3>@this.ViewData["Title"]</h3>
            <br />
            <p><b>Име на обекта: </b>@Model.Name</p>
            <p><b>РЗП:</b> @Model.TotalBuildUpArea</p>
            @switch (@Model.BuildingType)
            {
                case DesignAndBuilding.Data.Models.BuildingType.Other:
                    <p><b>Тип на обекта: </b>Друг</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.Hotel:
                    <p><b>Тип на обекта: </b>Хотел</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.Kindergarten:
                    <p><b>Тип на обекта: </b>Детска градина</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.SingleFamilyHouse:
                    <p><b>Тип на обекта: </b>Еднофамилна къща</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.MultiFamiyHouse:
                    <p><b>Тип на обекта: </b>Многофамилна къща</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.Hospital:
                    <p><b>Тип на обекта: </b>Болница</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.Factory:
                    <p><b>Тип на обекта: </b>Производствено предприятие</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.AdministrationBuilding:
                    <p><b>Тип на обекта: </b>Административна сграда</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.School:
                    <p><b>Тип на обекта: </b>Училище</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.University:
                    <p><b>Тип на обекта: </b>Университет</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.ComercialBuilding:
                    <p><b>Тип на обекта: </b>Търговска сграда</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.SportBuilding:
                    <p><b>Тип на обекта: </b>Спортна сграда</p>
                    break;
                case DesignAndBuilding.Data.Models.BuildingType.ArtAndCultureBuilding:
                    <p><b>Тип на обекта: </b>Сграда за изкуство и култура</p>
                    break;
                default:
                    <p><b>Тип на обекта: </b>Неизвестен</p>
                    break;
            }
            <div class="btn btn-primary" onclick="window.location.href='@Url.Action("create", "assignments", new { buildingId = Model.Id})'" role="button">Добави задание</div>
            <br />
            <br />
        </div>
        <div class="col-9">
            <h3 class="text-center">Задания</h3>
            <div class="text-center">
                <div class="form-group" style="display: inline-block; margin-right: 10px">
                    <input type="radio" id="all-checkbox" name="assignment-type" />
                    <label for="all-checkbox">Всички задания</label>
                </div>
                <div class="form-group" style="display: inline-block; margin-right: 10px">
                    <input type="radio" id="active-checkbox" name="assignment-type" checked />
                    <label for="active-checkbox">Активни задания</label>
                </div>
                <div class="form-group" style="display:inline-block">
                    <input type="radio" id="finished-checkbox" name="assignment-type" />
                    <label for="finished-checkbox">Завършили задания</label>
                </div>
            </div>
            <table class="table table-hover text-center">
                <tr class="background-cyan text-center">
                    <th>Специалност</th>
                    <th>Дата на създаване</th>
                    <th>Крайна дата</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var assignment in Model.Assignments)
                {
                    <tr id="@(assignment.EndDate > DateTime.Now ? "active" : "finished")">
                        @switch (assignment.UserType)
                        {
                            case DesignAndBuilding.Data.Models.UserType.Other:
                                <td>Друг</td>
                                break;
                            case DesignAndBuilding.Data.Models.UserType.Architect:
                                <td>Архитект</td>
                                break;
                            case DesignAndBuilding.Data.Models.UserType.ElectroEngineer:
                                <td>Електро</td>
                                break;
                            case DesignAndBuilding.Data.Models.UserType.BuildingConstructionEngineer:
                                <td>Строителни Конструкции</td>
                                break;
                            case DesignAndBuilding.Data.Models.UserType.PlumbingEngineer:
                                <td>ВиК</td>
                                break;
                            case DesignAndBuilding.Data.Models.UserType.HVACEngineer:
                                <td>ОВК</td>
                                break;
                            default:
                                break;
                        }

                        <td>@assignment.CreatedOn.ToString(@"dd.MM.yyyy") г.</td>

                        <td>@assignment.EndDate.ToString(@"dd.MM.yyyy") г.</td>

                        <td>
                            <button class="btn btn-secondary" onclick="window.location.href='@Url.Action("details", "assignments", new { id = assignment.Id})'">Детайли</button>
                        </td>
                        <td>
                            <button class="btn btn-primary" onclick="window.location.href='@Url.Action("edit", "assignments", new { id = assignment.Id})'">Редактирай</button>
                        </td>
                        <td>
                            <button class="btn btn-danger" onclick="window.location.href='@Url.Action("delete", "assignments", new { id = assignment.Id})'">Изтрий</button>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

@section Scripts
{ 
    <script>
    </script>
}