@using DesignAndBuilding.Web.ViewModels.Building
@using DesignAndBuilding.Common
@model IEnumerable<BuildingSummaryViewModel>
@{
    this.ViewData["Title"] = "Моите обекти";
}
<div id="alert"></div>
<h3>@this.ViewData["Title"]</h3>
<table class="table table-hover text-center">
    <tr class="background-cyan">
        <th>Име</th>
        <th>РЗП</th>
        <th>Тип на сградата</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var building in Model)
    {
        <tr>
            <td>@building.Name</td>
            <td>@building.TotalBuildUpArea</td>
            <td>@building.BuildingType.GetDisplayName()</td>
            <td>
                <button onclick="window.location.href='@Url.Action("details", "buildings", new { id = building.Id})'" class="btn btn-secondary">Детайли</button>
            </td>
            <td>
                <button onclick="window.location.href='@Url.Action("edit", "buildings", new { id = building.Id})'" class="btn btn-primary">Редактирай</button>
            </td>
            <td>
                <button onclick="window.location.href='@Url.Action("delete", "buildings", new { id = building.Id})'" class="btn btn-danger">Изтрий</button>
            </td>
        </tr>
    }
</table>
