@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<div class="card shadow-sm">
    <div class="card-body p-2">
        <ul class="nav nav-pills flex-column manage-nav">
            <li class="nav-item">
                <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
                    <i class="fas fa-user form-label-icon"></i>Профил
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">
                    <i class="fas fa-envelope form-label-icon"></i>Email
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
                    <i class="fas fa-lock form-label-icon"></i>Парола
                </a>
            </li>
            @if (hasExternalLogins)
            {
                <li id="external-logins" class="nav-item">
                    <a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">
                        <i class="fas fa-external-link-alt form-label-icon"></i>External logins
                    </a>
                </li>
            }
            <li class="nav-item">
                <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">
                    <i class="fas fa-id-card form-label-icon"></i>Лични данни
                </a>
            </li>
        </ul>
    </div>
</div>
